$gris:#6f7072;
$amarillo:#f9bf06;
$azul:#209bdf;


.sw {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &.active {
    background: orange;
    color: black;
    &::after {
      right: 0;
      left: unset;
    }
  }
  span {
    width: 30px;
    height: 30px;
    line-height: 50%;
    display: block;
    background: none;
    color: #fff;
    padding-top: 8px;
    text-align: center;

  }
}


.claro{
    transition: 0.4s;
        background: #f2f2f2 ;  
    }


.masclaro{
    transition: 0.4s;
        background: white !important;
    }



.letragris{
    transition: 0.4s;
    color: $gris !important;

}

.letragriss{
    transition: 0.4s;
    color: $gris !important;

}
